# OSX
#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# XCODE
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/


# React Native
#
.expo/
web-build/
dist/
allure-results/
allure-report/

# Detox
e2e/artifacts/
artifacts/
!docs/images/*.png

# Bundle artifacts
*.jsbundle

# Ruby
/vendor/bundle/
ios/.xcode.env.local

# CocoaPods
ios/Pods/
!ios/Podfile
!ios/Podfile.lock

# Temporary files created by Metro
.metro-health-check*
package-lock.json
